# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.claude/
CLAUDE.md
.env
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/
dist/
.env
.DS_Store
.vscode/
.idea/
coverage/
*.log
*.lock
*.zip
/public/media
/public/uploads
/src/_metronic/assets/media
/src/_metronic/assets/plugins
/src/_metronic/demo1/src/assets/media

dist-funcional/favicon.ico
dist-funcional/index.html
dist-funcional/splash-screen.css
dist-funcional/vite.svg
dist-funcional/assets/AccountPage-CEvVX5UJ.js
dist-funcional/assets/bootstrap-icons-BOrJxbIo.woff
dist-funcional/assets/bootstrap-icons-BtvjY1KL.woff2
dist-funcional/assets/ChartsWidget1-CJKRBrCV.js
dist-funcional/assets/ChatPage-DAXV7Ij9.js
dist-funcional/assets/fa-brands-400-Dur5g48u.ttf
dist-funcional/assets/fa-brands-400-O7nZalfM.woff2
dist-funcional/assets/fa-regular-400-Bf3rG5Nx.ttf
dist-funcional/assets/fa-regular-400-DgEfZSYE.woff2
dist-funcional/assets/fa-solid-900-BV3CbEM2.ttf
dist-funcional/assets/fa-solid-900-DOQJEhcS.woff2
dist-funcional/assets/fa-v4compatibility-B9MWI-E6.ttf
dist-funcional/assets/fa-v4compatibility-BX8XWJtE.woff2
dist-funcional/assets/fonticon-DWAcCzk_.ttf
dist-funcional/assets/fonticon-DwNJt5rD.woff2
dist-funcional/assets/fonticon-HMxJuE9W.svg
dist-funcional/assets/fonticon-VqleVTVL.eot
dist-funcional/assets/fonticon-zHHFr-fU.woff
dist-funcional/assets/formik.esm-CNoszpp9.js
dist-funcional/assets/index-BFBELtWm.js
dist-funcional/assets/index-CAbfq4yt.css
dist-funcional/assets/keenicons-duotone-BdYtl4gH.eot
dist-funcional/assets/keenicons-duotone-C4mN2-ZY.svg
dist-funcional/assets/keenicons-duotone-CtM_kZPp.woff
dist-funcional/assets/keenicons-duotone-DKdN_-MP.ttf
dist-funcional/assets/keenicons-outline-2dtxAfdV.woff
dist-funcional/assets/keenicons-outline-CkekYDxi.svg
dist-funcional/assets/keenicons-outline-DQbBVMHT.ttf
dist-funcional/assets/keenicons-outline-UBChmC0V.eot
dist-funcional/assets/keenicons-solid-3fU7eTfe.ttf
dist-funcional/assets/keenicons-solid-7nivxdSK.eot
dist-funcional/assets/keenicons-solid-B_g1gF03.woff
dist-funcional/assets/keenicons-solid-Bbtzhe37.svg
dist-funcional/assets/la-brands-400-Cq-R4OEF.woff2
dist-funcional/assets/la-brands-400-D0lxOIwB.woff
dist-funcional/assets/la-brands-400-gDglUfU7.ttf
dist-funcional/assets/la-brands-400-LN4CMlGg.eot
dist-funcional/assets/la-brands-400-wsUI3UJ9.svg
dist-funcional/assets/la-regular-400-BmVb34ql.svg
dist-funcional/assets/la-regular-400-CmnW_RTo.ttf
dist-funcional/assets/la-regular-400-Cx6vm3uW.eot
dist-funcional/assets/la-regular-400-DuFMN_sw.woff2
dist-funcional/assets/la-regular-400-ehe5HgcS.woff
dist-funcional/assets/la-solid-900-BUOWlSBQ.ttf
dist-funcional/assets/la-solid-900-CR_Kd-su.woff
dist-funcional/assets/la-solid-900-DkmX4G2x.eot
dist-funcional/assets/la-solid-900-dtlPMWb8.svg
dist-funcional/assets/la-solid-900-TjMEgv3Q.woff2
dist-funcional/assets/ListsWidget2-80rS_1zo.js
dist-funcional/assets/ProfilePage-BcNj62Hs.js
dist-funcional/assets/socicon-CSO5PcLV.woff
dist-funcional/assets/socicon-DFwHIzOF.ttf
dist-funcional/assets/socicon-DpTpLguA.eot
dist-funcional/assets/socicon-DTk6ugo7.svg
dist-funcional/assets/TablesWidget5-CQv8q8AM.js
dist-funcional/assets/UsersPage-DqPiQSOh.js
dist-funcional/assets/WidgetsPage-SLkDaBiU.js
dist-funcional/assets/WizardsPage-BgvdqXrv.js
